body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: rgb(49, 49, 49);
  background: url('../img/mohammad-metri-421904-unsplash.jpg');
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}